#
# ODM config file
#
[/C=EN/L=Cambridge/O=ObjectSecurity, Ltd./CN=www.objectsecurity.com/Email=info@objectsecurity.com]/	/Access
[/C=EN/L=Cambridge/O=ObjectSecurity, Ltd./CN=www.objectsecurity.com/Email=info@objectsecurity.com]/	/Audit

